@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
.btn {
  display: inline-block;
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5rem;
  -webkit-box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.1);
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin: 1rem 0;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
}

@media screen and (min-width: 960px) {
  .btn {
    padding: 1rem 2rem;
  }
}

.btn--primary {
  max-width: 20rem;
  display: block;
  color: white;
  background-color: #ff52bf;
  padding: 1rem 4rem;
}

@media screen and (max-width: 500px) {
  .btn--primary {
    width: 80%;
    padding: 1rem 0;
  }
}

.card {
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  min-width: 250px;
  min-height: 30rem;
}

@media screen and (min-width: 600px) {
  .card {
    max-width: 1280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 6rem;
    padding-right: 2rem;
    min-height: auto;
    margin: 2rem auto;
  }
}

.card__image img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .card__image img {
    max-width: 30rem;
  }
}

.card__content {
  text-align: center;
  margin-top: 2rem;
}

@media screen and (min-width: 600px) {
  .card__content {
    text-align: left;
    max-width: 40rem;
    padding-right: 4rem;
  }
}

.card__title {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.card__text {
  margin-top: 1rem;
  font-size: 1rem;
  color: #808d99;
}

@media screen and (min-width: 600px) {
  .card__reversed {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header {
  padding: 1rem;
  background-color: #ebfbff;
  background-image: url("../images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;
  text-align: center;
}

@media screen and (min-width: 960px) {
  .header {
    background-image: url("../images/bg-hero-desktop.svg");
    margin-bottom: 8rem;
  }
  .header__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
}

.header__navbar {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem auto;
}

@media screen and (max-width: 350px) {
  .header__navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 960px) {
  .header__navbar {
    margin-top: 4rem;
  }
}

.header__logo img {
  display: block;
  height: 1.6rem;
  width: auto;
}

@media screen and (min-width: 960px) {
  .header__logo img {
    height: 2rem;
  }
}

.header__info {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 960px) {
  .header__info {
    margin-top: 3rem;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 60%;
  }
}

.header__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

.header__text {
  font-size: 1.2rem;
  margin: 3rem 2rem;
}

@media screen and (min-width: 960px) {
  .header__text {
    margin: 2rem;
    margin-left: 0;
    font-size: 1.2rem;
  }
}

.header__hero-image {
  margin-top: 4rem;
  padding: 2rem;
}

@media screen and (min-width: 960px) {
  .header__hero-image {
    margin-top: 3rem;
    margin-left: 3rem;
    padding: 0;
  }
}

.header__hero-image img {
  display: block;
  width: 100%;
  height: auto;
}

.call {
  background-color: white;
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem 0;
  margin: 4rem auto;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 250px;
  max-width: 80%;
  position: relative;
  top: 7rem;
}

@media screen and (min-width: 1080px) {
  .call {
    max-width: 50%;
  }
}

.call__title {
  margin-bottom: 2rem;
}

.footer {
  background-color: #00252e;
  color: #ebfbff;
  padding: 1rem;
  padding-top: 10rem;
  padding-bottom: 3rem;
}

.footer__logo {
  -webkit-filter: invert(100%) brightness(150%) saturate(0);
          filter: invert(100%) brightness(150%) saturate(0);
  margin-bottom: 3rem;
}

@media screen and (min-width: 960px) {
  .footer__logo {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__logo img {
  height: 1.5rem;
  width: auto;
  display: block;
}

@media screen and (min-width: 960px) {
  .footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 1280px;
    margin: 3rem auto;
  }
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1rem 0;
  font-size: 1rem;
}

@media screen and (min-width: 960px) {
  .footer__contact {
    margin-top: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
  }
}

.footer__contact__img {
  margin-top: 0.5rem;
}

.footer__contact__img img {
  display: block;
  width: 1rem;
  height: auto;
}

.footer__text {
  margin-left: 2rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

@media screen and (min-width: 960px) {
  .footer__links {
    margin-top: 0;
    margin: 0 3rem;
    margin-left: 6rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
  }
}

.footer__links a {
  font-size: 1rem;
  text-decoration: none;
  color: #ebfbff;
  margin: 0.5rem 0;
}

.footer__links a:hover {
  text-decoration: underline;
}

.footer__social-links {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 1rem auto;
}

@media screen and (min-width: 960px) {
  .footer__social-links {
    margin-top: 0;
    width: 100%;
  }
}

.footer__social-links a {
  margin: 0.5rem;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  text-decoration: none;
}

.footer__social-links a:hover {
  -webkit-filter: invert(80%);
          filter: invert(80%);
}

.footer__social-links a img {
  height: auto;
  width: 2rem;
}

.footer__copyright {
  text-align: center;
  font-size: 0.8rem;
  margin: 0.5rem;
}

@media screen and (min-width: 960px) {
  .footer__copyright {
    max-width: 1280px;
    margin: 1rem auto;
    text-align: right;
  }
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 100vh;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */