.footer {
  background-color: $dark-cyan;
  color: $pale-cyan;
  padding: 1rem;
  padding-top: 10rem;
  padding-bottom: 3rem;

  &__logo {
    filter: invert(100%) brightness(150%) saturate(0);
    margin-bottom: 3rem;
    @media screen and (min-width: 960px) {
      max-width: $maxWidth;
      margin-left: auto;
      margin-right: auto;
    }
    img {
      height: 1.5rem;
      width: auto;
      display: block;
    }
  }

  &__main {
    @media screen and (min-width: 960px) {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: $maxWidth;
      margin: 3rem auto;
    }
  }

  &__contact {
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
    font-size: 1rem;
    @media screen and (min-width: 960px) {
      margin-top: 0;
      width: 100%;
      margin: 0;
      margin-bottom: 2rem;
    }
  }

  &__contact__img {
    margin-top: 0.5rem;
    img {
      display: block;
      width: 1rem;
      height: auto;
    }
  }

  &__text {
    margin-left: 2rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

    @media screen and (min-width: 960px) {
      margin-top: 0;
      margin: 0 3rem;
      margin-left: 6rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      width: 80%;
    }
    a {
      font-size: 1rem;
      text-decoration: none;
      color: $pale-cyan;
      margin: 0.5rem 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__social-links {
    max-width: fit-content;
    margin: 1rem auto;

    @media screen and (min-width: 960px) {
      margin-top: 0;
      width: 100%;
    }
    a {
      margin: 0.5rem;
      filter: invert(100%);
      text-decoration: none;
      &:hover {
        filter: invert(80%);
      }
      img {
        height: auto;
        width: 2rem;
      }
    }
  }

  &__copyright {
    text-align: center;
    font-size: 0.8rem;
    margin: 0.5rem;
    @media screen and (min-width: 960px) {
      max-width: $maxWidth;
      margin: 1rem auto;
      text-align: right;
    }
  }
}
