.btn {
  display: inline-block;
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5rem;
  box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.1);
  min-width: max-content;
  margin: 1rem 0;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  @media screen and (min-width: 960px) {
    padding: 1rem 2rem;
  }
}

.btn--primary {
  max-width: 20rem;
  display: block;
  color: white;
  background-color: $primary-pink;
  padding: 1rem 4rem;
  @media screen and (max-width: 500px) {
    width: 80%;
    padding: 1rem 0;
  }
}
